<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" id="sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            {% if show_Nama %}
            <li class="nav-item">''
                <img src="https://eu.ui-avatars.com/api/?name=John+Doe&size=250">
                <a class="nav-link active" aria-current="page" href="/home">
                {{show_Nama}}
                </a>
            </li>
        {% endif %}
            {% if show_shopping_cart %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">
                        <i class="fas fa-shopping-cart"></i>
                        Belanja
                    </a>
                </li>
            {% endif %}
        
            {% if show_promo %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-tags"></i>
                        Promo
                    </a>
                </li>
            {% endif %}
            
            {% if show_contact %}
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-phone"></i>
                        Kontak
                    </a>
                </li>
            {% endif %}
        
            {% if show_inventory %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/inventory">
                        <i class="fas fa-box-open"></i>
                        Inventaris
                    </a>
                </li>
            {% endif %}
        
            {% if show_organization %}
                <li class="nav-item">
                    <a class="nav-link" href="/stats">
                        <i class="fas fa-chart-bar"></i>
                        Statistik
                    </a>
                </li>
            {% endif %}

            {% if show_karyawan %}
            <li class="nav-item">
                <a class="nav-link" href="/karyawan">
                    <i class="fas fa-users"></i>
                    Karyawan
                </a>
            </li>
        {% endif %}

            {% if show_transaction_history %}
                <li class="nav-item">
                    <a class="nav-link" href="/history">
                        <i class="fas fa-clock"></i>
                        Riwayat Transaksi
                    </a>
                </li>
            {% endif %}
            {% if show_distrans %}
            <li class="nav-item">
                <a class="nav-link" href="/distribtrans">
                    <i class="fas fa-truck"></i>
                    Transaksi Distributor
                </a>
            </li>
        {% endif %}
            <hr> <!-- Separator line -->
        
            {% if show_logout %}
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="fas fa-sign-in-alt"></i>
                        Logout
                    </a>
                </li>
            {% endif %}
        
            {% if show_login %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt"></i>
                        Login
                    </a>
                </li>
            {% endif %}
           
        </ul>
        
    </div>
  </nav>
  <style>

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.nav-item:first-child{
    align-items: center;
    text-align: center;
}
  </style>